/* variables.css */
:root {
    /* Font Sizes */
    --font-size-sm: clamp(0.9rem, 0.43vi + 0.79rem, 1.31rem);
    --font-size-body: clamp(1.13rem, 0.66vi + 0.96rem, 1.75rem);
    --font-size-lead: clamp(1.41rem, 0.98vi + 1.16rem, 2.33rem);
    --font-size-h3: clamp(1.76rem, 1.42vi + 1.4rem, 3.11rem);
    --font-size-h2: clamp(2.2rem, 2.05vi + 1.68rem, 4.15rem);
    --font-size-h1: clamp(2.75rem, 2.93vi + 2.02rem, 5.53rem);
    --font-size-hero: clamp(3.43rem, 4.14vi + 2.4rem, 7.37rem);

    --font-size-button: clamp(1.13rem, 0.66vi + 0.96rem, 1.75rem);

    /* Spacing */
    --spacing-xxxs: clamp(0.125rem, 0.25vw, 0.25rem);
    --spacing-xxs: clamp(0.25rem, 0.5vw, 0.5rem);
    --spacing-xs: clamp(0.5rem, 1vw, 1rem);
    --spacing-s: clamp(0.75rem, 1.25vw, 1.5rem);
    --spacing-m: clamp(1rem, 2vw, 2rem);
    --spacing-l: clamp(1.5rem, 3vw, 3rem);
    --spacing-xl: clamp(2rem, 4vw, 4rem);

    /* Colors */
    --color-background: #fff;
    --color-text: #333;
    --color-highlight: #5EF789;
    --color-button-bg: #bebebe;
    --color-button-hover-bg: #5EF789;

    /* Variablen */
    --radius-default: 38px;
    --transition-default: 0.5s;

    --clip-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23333" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="m18.375 12.739-7.693 7.693a4.5 4.5 0 0 1-6.364-6.364l10.94-10.94A3 3 0 1 1 19.5 7.372L8.552 18.32m.009-.01-.01.01m5.699-9.941-7.81 7.81a1.5 1.5 0 0 0 2.112 2.13" /></svg>');
    --cases-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23333" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z" /></svg>');
    --menu-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/></svg>');
    --close-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/></svg>');  
}